{% extends 'admin_site/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'assets/css/app_data_model.css' %}">
{% endblock %}
{% block content %}
<a id="export_link" href="{% url 'export_excel' %}?search={{request.GET.search}}&data=application_data" class="btn btn-secondary mt-2">Export</a>
<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title mb-0">Application data</h3>
                <div class="main-header-center ms-3 d-none d-lg-block">
                    <input id='searchbar' class="form-control" placeholder="Search for results..." type="search" {% if request.GET.search %} value="{{request.GET.search}}" {% endif %} />
                </div>
                <button type="button" id="searchbar" class="btn btn-secondary" data-dismiss="modal" class="btn btn-secondary mt-2" onclick="search()">
                    Search
                </button>
            </div>
            <div class="card-body pt-4">
                <div class="grid-margin">
                    <div class="">
                        <div class="panel panel-primary">
                            <div class="panel-body tabs-menu-body border-0 pt-0">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab5">
                                        <div class="table-responsive">
                                            <table id="data-table" class="table table-bordered text-nowrap mb-0">
                                                <thead class="border-top">
                                                    <tr>
                                                        <th class="bg-transparent border-bottom-0 sortit">
                                                            <span style="display:flex">Username
                                                                <div class="sort-order ml-2">
                                                                  <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                                </div>
                                                            </span>
                                                        </th>
                                                        <th class="bg-transparent border-bottom-0 sortit">
                                                            <span style="display:flex">inApp Products
                                                                <div class="sort-order ml-2">
                                                                  <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                                </div>
                                                            </span>
                                                        </th>
                                                        <th class="bg-transparent border-bottom-0 sortit">
                                                            <span style="display:flex">Purchase date
                                                                <div class="sort-order ml-2">
                                                                  <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                                </div>
                                                            </span>
                                                        </th>
                                                        <th class="bg-transparent border-bottom-0 sortit">
                                                            <span style="display:flex">Operating system
                                                                <div class="sort-order ml-2">
                                                                  <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                                </div>
                                                            </span>
                                                        </th>
                                                        <th class="bg-transparent border-bottom-0 sortit">
                                                            <span style="display:flex">Lunch count
                                                                <div class="sort-order ml-2">
                                                                  <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                                </div>
                                                            </span>
                                                        </th>
                                                        <th class="bg-transparent border-bottom-0 sortit">
                                                            <span style="display:flex">Purchase attempts
                                                                <div class="sort-order ml-2">
                                                                  <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                                </div>
                                                            </span>
                                                        </th>
                                                        <th class="bg-transparent border-bottom-0 sortit">
                                                            <span style="display:flex">Number of projects
                                                                <div class="sort-order ml-2">
                                                                  <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                                </div>
                                                            </span>
                                                        </th>
                                                        <th class="bg-transparent border-bottom-0 sortit">
                                                            <span style="display:flex">Total time spent
                                                                <div class="sort-order ml-2">
                                                                  <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                                </div>
                                                            </span>
                                                        </th>
                                                        <th class="bg-transparent border-bottom-0 sortit">
                                                            <span style="display:flex">total ads served
                                                                <div class="sort-order ml-2">
                                                                  <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                                </div>
                                                            </span>
                                                        </th>
                                                        <th class="bg-transparent border-bottom-0">Registered user</th>
                                                        <th class="bg-transparent border-bottom-0">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="table_body">
                                                    {% for row in total_app_datas %}
                                                    <tr class="border-bottom">
                                                        <td class="text-center">
                                                            <div class="mt-0 mt-sm-2 d-block app_view" id="application_data - {{row.username}} - {{row.UID}}">
                                                                <h6 class="mb-0 fs-14 fw-semibold">
                                                                    {{ row.username }}
                                                                </h6>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="mt-0 mt-sm-2 d-block">
                                                                <h6 class="mb-0 fs-14 fw-semibold">
                                                                    {{ row.inApp_Products }}
                                                                </h6>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="mt-0 mt-sm-2 d-block">
                                                                <h6 class="mb-0 fs-14 fw-semibold">
                                                                    <span style="display:none">{{row.Purchase_date|date:"U"}}</span>{{row.Purchase_date}}
                                                                </h6>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="mt-0 mt-sm-2 d-block">
                                                                <h6 class="mb-0 fs-14 fw-semibold">
                                                                    {{ row.operating_system }}
                                                                </h6>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="mt-0 mt-sm-2 d-block">
                                                                <h6 class="mb-0 fs-14 fw-semibold">
                                                                    {{ row.Lunch_count }}
                                                                </h6>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex">
                                                                <div class="ms-3 mt-0 mt-sm-2 d-block">
                                                                    <h6 class="mb-0 fs-14 fw-semibold">
                                                                        {{ row.Purchase_attempts }}
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex">
                                                                <div class="mt-0 mt-sm-2 d-block">
                                                                    <h6 class="mb-0 fs-14 fw-semibold">
                                                                        {{ row.Number_of_projects }}
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex">
                                                                <div class="mt-0 mt-sm-2 d-block">
                                                                    <h6 class="mb-0 fs-14 fw-semibold">
                                                                        {{ row.Total_time_spent }} (In sec.)
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex">
                                                                <div class="mt-0 mt-sm-2 d-block">
                                                                    <h6 class="mb-0 fs-14 fw-semibold">
                                                                        {{ row.total_ads_served }}
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="mt-sm-1 d-block">
                                                                <span
                                                                    class="badge rounded-pill {% if row.Registered_user %} bg-success-transparent text-success {% else %} bg-danger-transparent text-danger {% endif %}p-2 px-3">{{row.Registered_user}}
                                                                </span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="g-2">
                                                                <a href="/admin-site/EditAppData/application_data {{row.aid}}" class="btn text-primary btn-sm"
                                                                    data-bs-toggle="tooltip"
                                                                    data-bs-original-title="Edit"><span
                                                                        class="fe fe-edit fs-14"></span></a>
                                                                <a class="btn text-danger btn-sm"
                                                                    data-bs-toggle="tooltip"
                                                                    data-bs-original-title="Delete"><span
                                                                        id="application_data {{row.aid}}"
                                                                        class="fe fe-trash-2 fs-14 delete_class"></span></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="pagination_div">
                                            <div class="row align-items-center">
                                                <!--show entries-->
                                                <div class="col-lg-6">
                                                    <div class="show_entries">
                                                        <label class="m-0 d-flex align-items-center">Show 
                                                            <div class="table_length_outer mx-2">
                                                                <select id="table_length" onchange="location = this.value;">
                                                                    <option value="{% if 'page' in request.GET %} {{ request.path }}?page={{request.GET.page}}&show=10  {% else %} {{ request.path }}?show=10 {% endif %}" {% if request.GET.show == '10' %} selected {% endif %}>10</option>
                                                                    <option value="{% if 'page' in request.GET %} {{ request.path }}?page={{request.GET.page}}&show=25  {% else %} {{ request.path }}?show=25 {% endif %}" {% if request.GET.show == '25' %} selected {% endif %}>25</option>
                                                                    <option value="{% if 'page' in request.GET %} {{ request.path }}?page={{request.GET.page}}&show=50  {% else %} {{ request.path }}?show=50 {% endif %}" {% if request.GET.show == '50' %} selected {% endif %}>50</option>
                                                                    <option value="{% if 'page' in request.GET %} {{ request.path }}?page={{request.GET.page}}&show=100  {% else %} {{ request.path }}?show=100 {% endif %}" {% if request.GET.show == '100' %} selected {% endif %}>100</option>
                                                                </select>
                                                            </div>
                                                        entries</label>
                                                    </div>
                                                </div>
                                                <!--end show entries-->
                                                <!--Pagination-->
                                                <div class="col-lg-6">
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination justify-content-center">
                                                            {% if total_app_datas.has_previous %}
                                                                <li class="page-item">
                                                                    <a class="page-link" href="
                                                                    {% if 'show' in request.GET %}?page={{ total_app_datas.previous_page_number }}&show={{request.GET.show}}  {% else %} ?page={{ total_app_datas.previous_page_number }} {% endif %}
                                                                    ">Previous</a>
                                                                </li>
                                                            {% else %}
                                                                <li class="page-item disabled">
                                                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
                                                                </li>
                                                            {% endif %}

                                                            {% if total_app_datas.number|add:'-2' > 1 %}
                                                                <li class="page-item">
                                                                    <a class="page-link" href="
                                                                    {% if 'show' in request.GET %} ?page={{ total_app_datas.number|add:'-3' }}&show={{request.GET.show}}  {% else %}  ?page={{ total_app_datas.number|add:'-3' }} {% endif %}
                                                                    ">&hellip;</a>
                                                                </li>
                                                            {% endif %}

                                                            {% for i in total_app_datas.paginator.page_range %}
                                                                {% if total_app_datas.number == i %}
                                                                    <li class="page-item active" aria-current="page">
                                                                        <span class="page-link">
                                                                            {{ i }}
                                                                            <span class="sr-only">
                                                                                (current)
                                                                            </span>
                                                                        </span>
                                                                    </li>
                                                                {% elif i > total_app_datas.number|add:'-3' and i < total_app_datas.number|add:'3' %}
                                                                    <li class="page-item">
                                                                        <a class="page-link" href="
                                                                        {% if 'show' in request.GET %}?page={{ i }}&show={{request.GET.show}}  {% else %} ?page={{ i }} {% endif %}
                                                                        ">{{ i }}</a>
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}

                                                            {% if total_app_datas.paginator.num_pages > total_app_datas.number|add:'3' %}
                                                                <li class="page-item">
                                                                    <a class="page-link" href="
                                                                    {% if 'show' in request.GET %} ?page={{ total_app_datas.number|add:'3' }}&show={{request.GET.show}}  {% else %}  ?page={{ total_app_datas.number|add:'3' }} {% endif %}
                                                                    
                                                                ">&hellip;</a>
                                                                </li>
                                                            {% endif %}

                                                            {% if total_app_datas.has_next %}
                                                                <li class="page-item">
                                                                    <a class="page-link" href="
                                                                    {% if 'show' in request.GET %}?page={{ total_app_datas.next_page_number }}&show={{request.GET.show}}  {% else %} ?page={{ total_app_datas.next_page_number }} {% endif %}
                                                                    ">Next</a>
                                                                </li>
                                                            {% else %}
                                                                <li class="page-item disabled">
                                                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                                                                </li>
                                                            {% endif %}
                                                        </ul>
                                                    </nav>
                                                </div>
                                                <!--end of Pagination-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">
                </h5>
            </div>
            <div class="modalbody main-profile-modal-wrp">
            </div>
            <div class="modal-footer">
                <button type="button" id="closebtn" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
    import swal from 'sweetalert2';
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.js"></script>
    
    {% comment %} delete data {% endcomment %}
    <script>
        $(".delete_class").click(function () {
            delete_id = $(this).attr('id')

            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this Account!",
                icon: "warning",
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Delete',
                denyButtonText: `Don't save`,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = "/admin-site/DeleteAppData/" + delete_id
                }
            }).catch(swal.noop);
        });

    </script>

    {% comment %} view modal {% endcomment %}
    <script>
        $('.app_view').on('click', function () {
            id = $(this).attr('id');
            $.ajax({
                type: "GET",
                url: `/admin-site/application_data/${id}`,
                success: function (profileresult) {
                    var data = profileresult.res.fields;
                    $("#largeModalLabel").append(`Application Data`)
                    $(".modalbody").append(`
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>UID</strong>
                                        <label>
                                            ${data.UID}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>InApp Products</strong>
                                        <label>
                                            ${data.inApp_Products}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>Purchase date</strong>
                                        <label>
                                            ${data.Purchase_date}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>Purchased product</strong>
                                        <label>
                                            ${data.Purchased_product}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>Device Model</strong>
                                        <label>
                                            ${data.Device_Model}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>Operating system</strong>
                                        <label>
                                            ${data.operating_system}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>Device Storage</strong>
                                        <label>
                                            ${data.Device_Storage}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>Lunch count</strong>
                                        <label>
                                            ${data.Lunch_count}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>Push Notification Status</strong>
                                        <label>
                                            ${data.Push_Notification_Status}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>Library permission Status</strong>
                                        <label>
                                            ${data.Library_permission_Status}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>Latitude</strong>
                                        <label>
                                            ${data.latitude}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>Longitude</strong>
                                        <label>
                                            ${data.longitude}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>Carrier</strong>
                                        <label>
                                            ${data.Carrier}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>App Last Opened</strong>
                                        <label>
                                            ${data.App_Last_Opened}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>Purchase attempts</strong>
                                        <label>
                                            ${data.Purchase_attempts}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>Grace Period</strong>
                                        <label>
                                            ${data.Grace_Period}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>Remaining grace period days</strong>
                                        <label>
                                            ${data.Remaining_grace_period_days}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>Number of projects</strong>
                                        <label>
                                            ${data.Number_of_projects}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>Total time spent</strong>
                                        <label>
                                            ${data.Total_time_spent}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>Total ads served</strong>
                                        <label>
                                            ${data.total_ads_served}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>Registered user</strong>
                                        <label>
                                            ${data.Registered_user}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="profile-field">
                                        <strong>Push Notification token</strong>
                                        <label>
                                            ${data.Push_Notification_token}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            `);
                    $(".modal-footer").append(`
                        <button type="button" id="editbtn" class="btn btn-success">
                            <a class="editbtn" href="/admin-site/EditAppData/application_data ${profileresult.res.pk}">Edit</a>
                        </button>
                    `);
                    $("#Modal").modal('show');
                }
            })
        })
    </script>

    {% comment %} refresh and close view modal {% endcomment %}
    <script>
        $(document).on('click', '#closebtn', function () {
            $('#Modal').modal('hide');
        })
        $("#Modal").on("hidden.bs.modal", function () {
            $("#largeModalLabel").html("");
            $(".modalbody").html("");
            $(".modal-footer").html(`<button type="button" id="closebtn" class="btn btn-secondary" data-dismiss="modal">
                    Close
                    </button>`);
        });
    </script>

    {% comment %} sorting {% endcomment %}
    <script>
        $('#data-table th.sortit').click(function () {
            var table = $(this).parents('table').eq(0)
            var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
        
            this.asc = !this.asc
            if (this.asc == true) {
              $(this).children('span').children('.sort-order').addClass('upOrder')
              $(this).children('span').children('.sort-order').removeClass('downOrder')
        
            } else {
              $(this).children('span').children('.sort-order').addClass('downOrder')
              $(this).children('span').children('.sort-order').removeClass('upOrder')
        
            }
            if (!this.asc) { rows = rows.reverse() }
            for (var i = 0; i < rows.length; i++) { table.append(rows[i]) }
          })
          function comparer(index) {
            return function (a, b) {
              var valA = getCellValue(a, index), valB = getCellValue(b, index)
              return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
            }
          }
          function getCellValue(row, index) { return $(row).children('td').eq(index).text() }
    </script>

    {% comment %} searchbar backend {% endcomment %}
    <script>
        function search(ele) {
            
            //event.preventDefault()
            var value = $('#searchbar').val();
            window.location.href = "{% url 'application_data' %}?search="+value;
        }
    </script>

{% endblock scripts %}

