{% extends 'admin_site/base.html' %}
{% load static %}
{% block styles %}
<style>
    .edit_form_title {
        margin-top: 30px;
        border-radius: 7px 7px 0 0;
        background-color: #fff;
        padding: 1.2rem 1.5rem;
        border-bottom: 1px solid #e9edf4;
    }

    .edit_form_title h3 {
        margin: 0;
    }

    .form_body {
        background-color: #fff;
        padding: 1.2rem 1.5rem;
        border-radius: 0 0 7px 7px;
    }

    input[type="text"]:focus,
    input[type="password"]:focus {
        outline: none;
        border: 1px solid black;
    }

    input.btn-primary,
    button#closebtn {
        margin-left: 20px;
        padding: 7px;
        border-radius: 6px;
        border: none;
        background-color: #6c5ffc;
        line-height: 23px;
    }

    button#closebtn a {
        color: #fff;
    }

    button#closebtn {
        padding: 7px 21px;
    }

    button.closebutton {
        position: absolute;
        right: 10px;
    }
</style>
{% endblock %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong id="g_msg">Message : {{ message }}</strong>
    <button class="closebutton" type="button" onclick="parentNode.remove()" class="close" data-dismiss="alert"
        aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<div class="change-form">
    <div class="edit_form_title">
        <h3>Change Password Form</h3>
    </div>
    <div class="form_body">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 col-sm-6">

                    <div class="form-group">
                        <label>Old Password :</label>
                        <input type="password" id="old_password" class="form-control" name="old_password" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>New Password :</label>
                        <input type="password" id="new_password" class="form-control" name="new_password"
                            placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Confirm Password :</label>
                        <input type="password" id="confirm_password" class="form-control" name="confirm_password"
                            placeholder="">
                    </div>
                    <div class="form-group">
                        <button id="submit_btn" type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" id="closebtn" class="btn btn-secondary" data-dismiss="modal">
                            <a href="{% url 'index' %}">Cancel</a>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}{% endblock %}