{% extends 'admin_site/base.html' %}
{% load static %}
{% block styles %}
<style>
    input.btn-primary,
    button#closebtn {
        margin-left: 20px;
        padding: 7px;
        border-radius: 6px;
        border: none;
        background-color: #6c5ffc;
        line-height: 23px;
    }

    button#closebtn a {
        color: #fff;

    }

    .edit_form_title {
        margin-top: 30px;
        border-radius: 7px 7px 0 0;
        background-color: #fff;
        padding: 1.2rem 1.5rem;
        border-bottom: 1px solid #e9edf4;
    }

    .edit_form_title h3 {
        margin: 0;
    }

    .form_body {
        background-color: #fff;
        padding: 1.2rem 1.5rem;
        border-radius: 0 0 7px 7px;
    }

    .profile_field input {
        border: 1px solid #e9edf4;
        border-radius: 5px;
        padding: 5px;
    }

    .profile_field {
        margin-bottom: 11px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .profile_field strong {
        color: #282f53;
        font-size: 15px;
        margin-bottom: 5px;
        display: block;
    }

    input:focus-visible {
        outline: none;
    }

    .btns {
        margin-left: 800px;
    }
    #readonly{
        background-color: #e9edf4;
    }
</style>
{% endblock %}
{% block content %}
    <div class="edit_form">
        <div class="edit_form_title">
            <h3>Edit Form</h3>
        </div>
        <div class="form_body">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        {% for row in result %}
                            <div class="col-lg-5">
                                <div class="profile_field">
                                    <strong>Username</strong>
                                    <div class="name">
                                        <input type="text" id="readonly" name="username" value="{{ row.username }}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="profile_field">
                                    <strong>First name</strong>
                                    <div class="name">
                                        <input type="text" name="firstname" value="{{ row.first_name }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="profile_field">
                                    <strong>Last name</strong>
                                    <div class="name">
                                        <label>
                                            <input type="text" name="lastname" value="{{ row.last_name }}">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="profile_field">
                                    <strong>Email</strong>
                                    <div class="name">
                                        <label>
                                            <input type="text" name="email" value="{{ row.email }}">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="btns">
                    <input type="submit" class="btn-primary" value="Submit">
                    <button type="button"
                            id="closebtn"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        <a href="{% url 'custom_user' %}">Cancel</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        // $("btn-primary").click(function () {
        //     alert("Record Updated")
        // })
    </script>
{% endblock scripts %}
