{% extends 'admin_site/base.html' %}
{% load static %}
{% block styles %}
    <style>
    input.btn-primary,
    button#closebtn {
        margin-left: 20px;
        padding: 7px;
        border-radius: 6px;
        border: none;
        background-color: #6c5ffc;
        line-height: 23px;
    }

    button#closebtn a {
        color: #fff;

    }

    .edit_form_title {
        margin-top: 30px;
        border-radius: 7px 7px 0 0;
        background-color: #fff;
        padding: 1.2rem 1.5rem;
        border-bottom: 1px solid #e9edf4;
    }

    .edit_form_title h3 {
        margin: 0;
    }

    .form_body {
        background-color: #fff;
        padding: 1.2rem 1.5rem;
        border-radius: 0 0 7px 7px;
    }

    .profile_field input {
        border: 1px solid #e9edf4;
        border-radius: 5px;
        padding: 5px;
    }

    .profile_field {
        margin-bottom: 11px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .profile_field strong {
        color: #282f53;
        font-size: 15px;
        margin-bottom: 5px;
        display: block;
    }

    input:focus-visible {
        outline: none;
    }

    .btns {
        margin-left: 800px;
    }
    #readonly{
        background-color: #e9edf4;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="edit_form">
        <div class="edit_form_title">
            <h3>Edit Form</h3>
        </div>
        <div class="form_body">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        {% for row in result %}
                            <input type="hidden" id="username" name="username" value="{{ row.username }}">
                            <div class="col-lg-5">
                                <div class="profile_field">
                                    <strong>status</strong>
                                    <div class="name">
                                        <input type="text" name="status" value="{{ row.status }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="profile_field">
                                    <strong>Auto renew status</strong>
                                    <div class="name">
                                        <label>
                                            <input type="checkbox" id="checkbox" name="auto_renew_status" {% if row.auto_renew_status %}checked{% endif %}>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="profile_field">
                                    <strong>Is in billing retry period</strong>
                                    <div class="name">
                                        <label>
                                            <input type="checkbox" id="checkbox" name="is_in_billing_retry_period" {% if row.is_in_billing_retry_period %}checked{% endif %}>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="profile_field">
                                    <strong>Is in intro offer period</strong>
                                    <div class="name">
                                        <label>
                                            <input type="checkbox" id="checkbox" name="is_in_intro_offer_period" {% if row.is_in_intro_offer_period %}checked{% endif %}>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="profile_field">
                                    <strong>Is trial period</strong>
                                    <div class="name">
                                        <label>
                                            <input type="checkbox" id="checkbox" name="is_trial_period" {% if row.is_trial_period %}checked{% endif %}>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="profile_field">
                                    <strong>Start date</strong>
                                    <div class="name">
                                        <input type="text" name="start_date" value="{{ row.start_date }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="profile_field">
                                    <strong>End date</strong>
                                    <div class="name">
                                        <input type="text" name="end_date" value="{{ row.end_date }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="profile_field">
                                    <strong>Subscription type</strong>
                                    <div class="name">
                                        <input type="text" name="subscription_type" value="{{ row.subscription_type }}">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="btns">
                    <input type="submit" class="btn-primary" value="Submit">
                    <button type="button"
                            id="closebtn"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        <a href="{% url 'custom_user' %}">Cancel</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        // $("btn-primary").click(function () {
        //     alert("Record Updated")
        // })
    </script>
{% endblock scripts %}
