{% extends 'admin_site/base.html' %}
{% load static %}
{% block styles %}
    <style>
    .row {
        margin-top: 27px !important;
    }

    .tab-content i,
    .tabs-menu2 ul li .active {
        color: #27cf09;
    }

    i.fa.fa-eye {
        cursor: pointer;
    }
    .main-profile-modal-wrp{
        position: relative;
    }
    .profile-field{position: relative;margin-bottom: 10px;}
    .profile-field strong{margin-right: 10px;font-size: 18px;}
    .profile-field label{margin: 0;font-size: 18px;}
    .avtar-profile{
        width: 150px;
        height: 150px;
    }
    .avtar-profile img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title mb-0">Users</h3>
                </div>
                <div class="card-body pt-4">
                    <div class="grid-margin">
                        <div class="">
                            <div class="panel panel-primary">
                                {% comment %} <div class="tab-menu-heading border-0 p-0">
                                <div class="tabs-menu1">
                                    <!-- Tabs -->
                                    <ul class="nav panel-tabs product-sale">
                                        <li><a href="#tab5" class="active" data-bs-toggle="tab">All products</a></li>
                                        <li><a href="#tab6" data-bs-toggle="tab" class="text-dark">Shipped</a></li>
                                        <li><a href="#tab7" data-bs-toggle="tab" class="text-dark">Pending</a></li>
                                        <li><a href="#tab8" data-bs-toggle="tab" class="text-dark">Cancelled</a></li>
                                    </ul>
                                </div>
                                </div> {% endcomment %}
                                <div class="panel-body tabs-menu-body border-0 pt-0">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab5">
                                            <div class="table-responsive">
                                                <table id="data-table" class="table table-bordered text-nowrap mb-0">
                                                    <thead class="border-top">
                                                        <tr>
                                                            <th class="bg-transparent border-bottom-0">Id</th>
                                                            <th class="bg-transparent border-bottom-0">Username</th>
                                                            <!-- <th class="bg-transparent border-bottom-0">Password</th> -->
                                                            <th class="bg-transparent border-bottom-0">Firstname</th>
                                                            <th class="bg-transparent border-bottom-0">Lastname</th>
                                                            <th class="bg-transparent border-bottom-0">Email Address</th>
                                                            <th class="bg-transparent border-bottom-0">Active</th>
                                                            <th class="bg-transparent border-bottom-0">Staff Status</th>
                                                            <th class="bg-transparent border-bottom-0">Superuser Status</th>
                                                            <th class="bg-transparent border-bottom-0">Last Login</th>
                                                            <th class="bg-transparent border-bottom-0">Date Joined</th>
                                                            {% comment %} <th class="bg-transparent border-bottom-0">Confirm
                                                            Token</th> {% endcomment %}
                                                            <th class="bg-transparent border-bottom-0">app_datas</th>
                                                            <th class="bg-transparent border-bottom-0">details</th>
                                                            <th class="bg-transparent border-bottom-0">products</th>
                                                            <th class="bg-transparent border-bottom-0">profiles</th>
                                                            <th class="bg-transparent border-bottom-0">purchases</th>
                                                            <th class="bg-transparent border-bottom-0">tags</th>
                                                            <th class="bg-transparent border-bottom-0">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for row in total_users %}
                                                            <tr class="border-bottom">
                                                                <td class="text-center">
                                                                    <div class="mt-0 mt-sm-2 d-block">
                                                                        <h6 class="mb-0 fs-14 fw-semibold">{{ forloop.counter }}</h6>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <div class="ms-3 mt-0 mt-sm-2 d-block">
                                                                            <h6 class="mb-0 fs-14 fw-semibold">{{ row.username }}</h6>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <!-- <td>
                                                            <div class="d-flex">
                                                                <div class="mt-0 mt-sm-2 d-block">
                                                                    <h6 class="mb-0 fs-14 fw-semibold">{{row.password}}</h6>
                                                                </div>
                                                            </div>
                                                        </td> -->
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <div class="mt-0 mt-sm-2 d-block">
                                                                            <h6 class="mb-0 fs-14 fw-semibold">
                                                                                {{ row.first_name }}
                                                                            </h6>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <div class="mt-0 mt-sm-2 d-block">
                                                                            <h6 class="mb-0 fs-14 fw-semibold">
                                                                                {{ row.last_name }}
                                                                            </h6>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <div class="mt-0 mt-sm-2 d-block">
                                                                            <h6 class="mb-0 fs-14 fw-semibold">
                                                                                {{ row.email }}
                                                                            </h6>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="mt-sm-1 d-block">
                                                                        <span class="badge rounded-pill {% if row.is_active %} bg-success-transparent text-success {% else %} bg-danger-transparent text-danger {% endif %}p-2 px-3">{{ row.is_active }}</span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="mt-sm-1 d-block">
                                                                        <span id="colorchange"
                                                                              class="badge rounded-pill {% if row.is_staff %} bg-success-transparent text-success {% else %} bg-danger-transparent text-danger {% endif %}p-2 px-3">{{ row.is_staff }}</span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="mt-sm-1 d-block">
                                                                        <span class="badge rounded-pill {% if row.is_superuser %} bg-success-transparent text-success {% else %} bg-danger-transparent text-danger {% endif %}p-2 px-3">{{ row.is_superuser }}</span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <div class="mt-0 mt-sm-2 d-block">
                                                                            <h6 class="mb-0 fs-14 fw-semibold">
                                                                                {{ row.last_login }}
                                                                            </h6>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <div class="mt-0 mt-sm-2 d-block">
                                                                            <h6 class="mb-0 fs-14 fw-semibold">
                                                                                {{ row.date_joined }}
                                                                            </h6>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                {% comment %} <td>
                                                            <div class="d-flex">
                                                                <div class="mt-0 mt-sm-2 d-block">
                                                                    <h6 class="mb-0 fs-14 fw-semibold">
                                                                        {{row.confirm_token}}</h6>
                                                                </div>
                                                            </div>
                                                                </td> {% endcomment %}
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <div class="mt-0 mt-sm-2 d-block">
                                                                            <h6 class="mb-0 fs-14 fw-semibold"
                                                                                id="application_data - {{ data.app_datas }}">
                                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                            </h6>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <div class="mt-0 mt-sm-2 d-block">
                                                                            <h6 class="mb-0 fs-14 fw-semibold" id="user_detail - {{ data.details }}">
                                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                            </h6>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <div class="mt-0 mt-sm-2 d-block">
                                                                            <h6 class="mb-0 fs-14 fw-semibold" id="Product - {{ data.products }}">
                                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                            </h6>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <div class="mt-0 mt-sm-2 d-block">
                                                                            <h6 class="mb-0 fs-14 fw-semibold" id="Profile - {{ data.profiles }}">
                                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                            </h6>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <div class="mt-0 mt-sm-2 d-block">
                                                                            <h6 class="mb-0 fs-14 fw-semibold" id="Purchase - {{ data.purchases }}">
                                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                            </h6>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <div class="mt-0 mt-sm-2 d-block">
                                                                            <h6 class="mb-0 fs-14 fw-semibold" id="Tag - {{ data.tags }}">
                                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                            </h6>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="g-2">
                                                                        <a class="btn text-primary btn-sm"
                                                                           data-bs-toggle="tooltip"
                                                                           data-bs-original-title="Edit"><span class="fe fe-edit fs-14"></span></a>
                                                                        <a class="trigger-btn text-danger btn-sm"
                                                                           href="#myModal"
                                                                           data-bs-toggle="tooltip"
                                                                           data-bs-original-title="Delete"
                                                                           data-toggle="modal"><span id="custom_user {{ row.id }}" class="fe fe-trash-2 fs-14"></span></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 class="modal-title w-100">
                        Are you sure?
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Do you really want to delete these records? This process cannot be undone.
                    </p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-danger">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--  modal  -->
    {% comment %} <div class="modal fade" tabindex="-1" role="dialog" id="profileModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Profile <span id="modal_emp_id"></span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="profileModalBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg"
         id="profileModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Profile
                    </h5>
                </div>
                <div class="modal-body main-profile-modal-wrp">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="profile-field">
                                <div class="avtar-profile">
                                    avatar
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile-field">
                                <div class="avtar-profile">
                                    profile_image
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile-field">
                                <strong>Name</strong>
                                <label>Demo</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile-field">
                                <strong>city</strong>
                                <label>Demo</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile-field">
                                <strong>country</strong>
                                <label>Demo</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile-field">
                                <strong>created_at</strong>
                                <label>Demo</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile-field">
                                <strong>D.O.B</strong>
                                <label>Demo</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile-field">
                                <strong>email</strong>
                                <label>Demo</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile-field">
                                <strong>fb</strong>
                                <label>Demo</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile-field">
                                <strong>gender</strong>
                                <label>Demo</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile-field">
                                <strong>insta</strong>
                                <label>Demo</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile-field">
                                <strong>lat</strong>
                                <label>Demo</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile-field">
                                <strong>long</strong>
                                <label>Demo</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile-field">
                                <strong>mobile</strong>
                                <label>Demo</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile-field">
                                <strong>pass_forgot</strong>
                                <label>Demo</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile-field">
                                <strong>pass_update</strong>
                                <label>Demo</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile-field">
                                <strong>snap</strong>
                                <label>Demo</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile-field">
                                <strong>updated_at</strong>
                                <label>Demo</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile-field">
                                <strong>username</strong>
                                <label>Demo</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile-field">
                                <strong>website</strong>
                                <label>Demo</label>
                            </div>
                        </div>
                        
                    </div>
                </div>
                {% comment %} avatar: "download_hJfcpYO.jpg"
                bitmoji: "download_1dQF7sA.jpg"
                city: "dhdfgh"
                country: "India"
                created_at: "2022-02-17T13:30:37.440Z"
                dob: "2022-02-17"
                email: "demo@gmail.com"
                fb: "nvbnvb"
                gender: "Male"
                insta: "nvbnvb"
                lat: 1.02
                long: 54
                mobile: "5475467546"
                name: "Demo"
                pass_forgot: null
                pass_update: "2022-02-17"
                profile_image: "download_gAgPH82.jpg"
                snap: "fvcnvcb"
                updated_at: null
                username: 1
                website: "nvnvbnvbn" {% endcomment %}
                <div class="modal-footer">
                    <button type="button"
                            id="closebtn"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
    $("h6").click(function () {
        id = $(this).attr('id')
        $.ajax({
            type: "GET",
            url: `/admin_site/Profile/${id}`,
            success: function (profileresult) {
                console.log(profileresult);
                {% comment %} $(".modal-body").append(`
                    hkdghuisdgkj
                `) {% endcomment %}
                $("#profileModal").modal('show');
            }
        })
    });
    </script>
    <script>
        $(document).on('click','#closebtn',function(){
            $('#profileModal').modal('hide');
        })
    </script>
{% endblock scripts %}
