<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <div class="container">
        <h1 style="color:#1e1e2d; font-weight:500; margin:0;font-size:32px;font-family:'Rubik',sans-serif;">
            KITABA كتابة على الصور
        </h1>
        <span
            style="display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:100px;"></span>
        <p style="color:#455056; font-size:15px;line-height:24px; margin:0;">
            Lost your password? It happens.
            Let’s get you a new one so you can get back to being creative.

            If you didn’t request this reset, you can ignore this email. Your password will remain the same.

            تريد استعادة كلمة المرور؟ اي عادي تحصليالله خلنا نطلع لك بدل فاقد، كل اللي عليك اتسويه تضغط على الرابطفي حال انك ما طلبك استعادة كلمة المرور، بكل بساطة تجاهل الايميل
        </p>
        <a href="{{token}}"
            style="background:#012169;text-decoration:none !important; font-weight:500; margin-top:35px; color:#fff;text-transform:uppercase; font-size:14px;padding:10px 24px;display:inline-block;border-radius:50px;">Reset
            Password</a>
    </div>
</body>
</html>